.MSG

	animation: 2s ascender linear forwards
	background-color: #fff
	box-shadow: 4px 5px 10px 0 #808080
	color: #000
	display: flex
	font-weight: bold
	height: 100px
	min-width: 400px
	position: absolute
	right: 0
.MSG .contenedorMensaje

	padding: 10px
	width: calc(100% - 110px)
.MSG .contenedorIcon

	width: 110px
.MSG .contenedorIcon img
	width: 100%