@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?pv9hsu');
    src:    url('fonts/icomoon.eot?pv9hsu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?pv9hsu') format('truetype'),
        url('fonts/icomoon.woff?pv9hsu') format('woff'),
        url('fonts/icomoon.svg?pv9hsu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-maximize-window:before {
    content: "\e903";
}
.icon-close-window:before {
    content: "\e905";
}
.icon-minimize-window:before {
    content: "\e906";
}
.icon-connection-board:before {
    content: "\e900";
}
.icon-pc:before {
    content: "\e956";
}
.icon-server:before {
    content: "\e964";
}
.icon-connection-internet:before {
    content: "\e9ca";
}

